<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CatApp</title>
    <link rel="stylesheet" href="tops.css">
        <header>
        <div class="welcome">
      <h1>Welcome to CatApp!</h1>
      </div>
      <div>
      <p>私たちは猫が大好きです。あなたも同じですよね。ここにかわいい猫の写真があります。あなたの日を明るくします。</p>
      </div>
    </header>
  </head>
  <body>
      <a href="/signup">新規登録</a>
      <a href="/login">ログイン</a>
    <div class="bg-image"></div>
  </body>
</html>